In [9]:
import pandas as pd
import numpy as np
import os

In [34]:
full_path = os.getcwd()
save_path = './'
full_path = full_path.split('\\')
full_path = full_path[:-1]
full_path = '\\'.join(full_path)
target_path = full_path+'\\2_img_cropper\\img_output\\'
img_list = os.listdir(target_path)
# print(img_list)

df = pd.DataFrame(index= img_list,columns=['cell_density_1','cell_density_2','cell_density_3','average'])
df
# df = df.to_csv('cell_density.csv')

           cell_density_1 cell_density_2 cell_density_3 average
100_00.jpg            NaN            NaN            NaN     NaN
100_01.jpg            NaN            NaN            NaN     NaN
100_02.jpg            NaN            NaN            NaN     NaN
100_10.jpg            NaN            NaN            NaN     NaN
100_11.jpg            NaN            NaN            NaN     NaN
...                   ...            ...            ...     ...
9_21.jpg              NaN            NaN            NaN     NaN
9_22.jpg              NaN            NaN            NaN     NaN
9_30.jpg              NaN            NaN            NaN     NaN
9_31.jpg              NaN            NaN            NaN     NaN
9_32.jpg              NaN            NaN            NaN     NaN

[6852 rows x 4 columns]

In [38]:
cell_density = pd.read_csv('./cell_density.csv')
cell_density

     Unnamed: 0  cell_density_1  cell_density_2  cell_density_3  average
0      1_00.jpg            10.0            10.0            10.0       10
1      1_01.jpg             NaN             NaN             NaN  #DIV/0!
2      1_02.jpg             NaN             NaN             NaN  #DIV/0!
3      1_10.jpg             NaN             NaN             NaN  #DIV/0!
4      1_11.jpg             NaN             NaN             NaN  #DIV/0!
...         ...             ...             ...             ...      ...
6847  99_21.jpg             NaN             NaN             NaN  #DIV/0!
6848  99_22.jpg             NaN             NaN             NaN  #DIV/0!
6849  99_30.jpg             NaN             NaN             NaN  #DIV/0!
6850  99_31.jpg             NaN             NaN             NaN  #DIV/0!
6851  99_32.jpg             NaN             NaN             NaN  #DIV/0!

[6852 rows x 5 columns]